@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.wallet-container {
  position: relative;
  z-index: 1000; /* Ensure it is on top */
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0; /* Add margin to push other components */
  width: 100%; /* Ensure it takes up the full width */
  max-width: 100%; /* Ensure it doesn't exceed the container width */
  flex-grow: 1; /* Allow it to grow and take up available space */
  overflow: visible; /* Ensure dropdowns are visible */
}